# MONGODB

## Creating collection and inserting data

In [24]:
import pymongo
client = pymongo.MongoClient("mongodb://127.0.0.1:27017/")

'''create DB '''
mydb = client['Movie']

'''create a collection'''
info = mydb.moviedetails

'''Inserting 1 record'''
record = {
        "moviename":"Avengers",
        "year":2012,
        "genre":"Superhero fiction"
        }

info.insert_one(record)

'''Inserting multiple record'''
record = [
        {
        "moviename":"Andhadhun",
        "year":2018,
        "genre":"Thriller Comedy"
        },
                {
        "moviename":"Bloodshot",
        "year":2020,
        "genre":"Action"
        },
                        {
        "moviename":"The Shawshank Redemption",
        "year":1994,
        "genre":"Drama"
        }
        ]

info.insert_many(record)

In [4]:
client

MongoClient(host=['127.0.0.1:27017'], document_class=dict, tz_aware=False, connect=True)

## Deleting a collection(Execute if you need !)

In [22]:
#get collection named "moviedetails"
mycol = mydb["moviedetails"]
  
#delete or drop collection
mycol.drop()

In [25]:
#  List all databases
for db in client.list_databases():
    print(db)

{'name': 'Employee', 'sizeOnDisk': 73728.0, 'empty': False}
{'name': 'Movie', 'sizeOnDisk': 8192.0, 'empty': False}
{'name': 'admin', 'sizeOnDisk': 40960.0, 'empty': False}
{'name': 'config', 'sizeOnDisk': 110592.0, 'empty': False}
{'name': 'local', 'sizeOnDisk': 40960.0, 'empty': False}

# Querying Json Docs

In [26]:
## Simple way of querying
info.find_one()

{'_id': ObjectId('5f630eff7327ebd72651c5cb'),
 'moviename': 'Avengers',
 'year': 2012,
 'genre': 'Superhero fiction'}

In [27]:
## Select * from moviedetails
for record in info.find({}):
    print(record)

{'_id': ObjectId('5f630eff7327ebd72651c5cb'), 'moviename': 'Avengers', 'year': 2012, 'genre': 'Superhero fiction'}
{'_id': ObjectId('5f630eff7327ebd72651c5cc'), 'moviename': 'Andhadhun', 'year': 2018, 'genre': 'Thriller Comedy'}
{'_id': ObjectId('5f630eff7327ebd72651c5cd'), 'moviename': 'Bloodshot', 'year': 2020, 'genre': 'Action'}
{'_id': ObjectId('5f630eff7327ebd72651c5ce'), 'moviename': 'The Shawshank Redemption', 'year': 1994, 'genre': 'Drama'}

## Query the json documents based on equality conditions

In [28]:
# Select * from moviedetails where genre=Action

for record in info.find({'genre':'Action'}):
    print(record)

{'_id': ObjectId('5f630eff7327ebd72651c5cd'), 'moviename': 'Bloodshot', 'year': 2020, 'genre': 'Action'}

## Query documents using query operators( in,lt,gt)

In [29]:
for record in info.find({'genre':{'$in':['Action','Drama']}}):
    print(record)

{'_id': ObjectId('5f630eff7327ebd72651c5cd'), 'moviename': 'Bloodshot', 'year': 2020, 'genre': 'Action'}
{'_id': ObjectId('5f630eff7327ebd72651c5ce'), 'moviename': 'The Shawshank Redemption', 'year': 1994, 'genre': 'Drama'}

In [30]:
# And operation
for record in info.find({'genre':{'$in':['Action','Drama']},'year':{'$gt':2018}}):
    print(record)

{'_id': ObjectId('5f630eff7327ebd72651c5cd'), 'moviename': 'Bloodshot', 'year': 2020, 'genre': 'Action'}

In [32]:
## OR operation
for record in info.find({'$or':[{'moviename':'Avengers'},{'genre':'Drama'}]}):
    print(record)

{'_id': ObjectId('5f630eff7327ebd72651c5cb'), 'moviename': 'Avengers', 'year': 2012, 'genre': 'Superhero fiction'}
{'_id': ObjectId('5f630eff7327ebd72651c5ce'), 'moviename': 'The Shawshank Redemption', 'year': 1994, 'genre': 'Drama'}

## Updating Json Docs
- pymongo.collection.Collection.update_one()
- pymongo.collection.Collection.update_many()
- pymongo.collection.Collection.replace_one()

In [33]:
# Create a new DB
mydb=client['Stationery']
# Define a new collection
inventory=mydb.shop

In [35]:
inventory.insert_many([
    {"item": "canvas",
     "qty": 100,
     "size": {"h": 28, "w": 35.5, "uom": "cm"},
     "status": "A"},
    {"item": "journal",
     "qty": 25,
     "size": {"h": 14, "w": 21, "uom": "cm"},
     "status": "A"},
    {"item": "mat",
     "qty": 85,
     "size": {"h": 27.9, "w": 35.5, "uom": "cm"},
     "status": "A"},
    {"item": "mousepad",
     "qty": 25,
     "size": {"h": 19, "w": 22.85, "uom": "cm"},
     "status": "P"},
    {"item": "notebook",
     "qty": 50,
     "size": {"h": 8.5, "w": 11, "uom": "in"},
     "status": "P"},
    {"item": "paper",
     "qty": 100,
     "size": {"h": 8.5, "w": 11, "uom": "in"},
     "status": "D"},
    {"item": "planner",
     "qty": 75,
     "size": {"h": 22.85, "w": 30, "uom": "cm"},
     "status": "D"},
    {"item": "postcard",
     "qty": 45,
     "size": {"h": 10, "w": 15.25, "uom": "cm"},
     "status": "A"},
    {"item": "sketchbook",
     "qty": 80,
     "size": {"h": 14, "w": 21, "uom": "cm"},
     "status": "A"},
    {"item": "sketch pad",
     "qty": 95,
     "size": {"h": 22.85, "w": 30.5, "uom": "cm"},
     "status": "A"}])

In [36]:
#  List all databases
for db in client.list_databases():
    print(db)

{'name': 'Employee', 'sizeOnDisk': 73728.0, 'empty': False}
{'name': 'Movie', 'sizeOnDisk': 40960.0, 'empty': False}
{'name': 'Stationery', 'sizeOnDisk': 40960.0, 'empty': False}
{'name': 'admin', 'sizeOnDisk': 40960.0, 'empty': False}
{'name': 'config', 'sizeOnDisk': 110592.0, 'empty': False}
{'name': 'local', 'sizeOnDisk': 40960.0, 'empty': False}

In [38]:
## Select * from moviedetails
for record in inventory.find({}):
    print(record)

{'_id': ObjectId('5f6312b57327ebd72651c5cf'), 'item': 'canvas', 'qty': 100, 'size': {'h': 28, 'w': 35.5, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('5f6312b57327ebd72651c5d0'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('5f6312b57327ebd72651c5d1'), 'item': 'mat', 'qty': 85, 'size': {'h': 27.9, 'w': 35.5, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('5f6312b57327ebd72651c5d2'), 'item': 'mousepad', 'qty': 25, 'size': {'h': 19, 'w': 22.85, 'uom': 'cm'}, 'status': 'P'}
{'_id': ObjectId('5f6312b57327ebd72651c5d3'), 'item': 'notebook', 'qty': 50, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'P'}
{'_id': ObjectId('5f6312b57327ebd72651c5d4'), 'item': 'paper', 'qty': 100, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'D'}
{'_id': ObjectId('5f6312b57327ebd72651c5d5'), 'item': 'planner', 'qty': 75, 'size': {'h': 22.85, 'w': 30, 'uom': 'cm'}, 'status': 'D'}
{'_id': ObjectId('5f6312b57327ebd72651c5d6'), 'item': 'postcard', 'qty': 45, 'size': {'h': 10, 'w': 15.25, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('5f6312b57327ebd72651c5d7'), 'item': 'sketchbook', 'qty': 80, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('5f6312b57327ebd72651c5d8'), 'item': 'sketch pad', 'qty': 95, 'size': {'h': 22.85, 'w': 30.5, 'uom': 'cm'}, 'status': 'A'}

### pymongo.collection.Collection.update_one()

In [39]:
# Updating and also adding a new variable lastModifiedDate
inventory.update_one(
{"item":"sketch pad"},#where
{"$set":{"size.uom":"m","status":"P"}, #set
"$currentDate":{"lastModified":True}}
)

In [42]:
# Select * from inventory where item=sketch pad

for record in inventory.find({'item':'sketch pad'}):
    print(record)

{'_id': ObjectId('5f6312b57327ebd72651c5d8'), 'item': 'sketch pad', 'qty': 95, 'size': {'h': 22.85, 'w': 30.5, 'uom': 'm'}, 'status': 'P', 'lastModified': datetime.datetime(2020, 9, 17, 7, 44, 36, 282000)}

### pymongo.collection.Collection.update_many()

In [43]:
inventory.update_many(
    {"qty": {"$lt": 50}}, #where
    {"$set": {"size.uom": "in", "status": "P"}, #set
     "$currentDate": {"lastModified": True}})

In [46]:
## Select * from inventory where qty<50
for record in inventory.find({'qty':{'$lt':50}}):
    print(record)

{'_id': ObjectId('5f6312b57327ebd72651c5d0'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'in'}, 'status': 'P', 'lastModified': datetime.datetime(2020, 9, 17, 7, 48, 20, 370000)}
{'_id': ObjectId('5f6312b57327ebd72651c5d2'), 'item': 'mousepad', 'qty': 25, 'size': {'h': 19, 'w': 22.85, 'uom': 'in'}, 'status': 'P', 'lastModified': datetime.datetime(2020, 9, 17, 7, 48, 20, 371000)}
{'_id': ObjectId('5f6312b57327ebd72651c5d6'), 'item': 'postcard', 'qty': 45, 'size': {'h': 10, 'w': 15.25, 'uom': 'in'}, 'status': 'P', 'lastModified': datetime.datetime(2020, 9, 17, 7, 48, 20, 372000)}

In [47]:
## Select * from inventory where item='paper'
for record in inventory.find({'item':"paper"}):
    print(record)

{'_id': ObjectId('5f6312b57327ebd72651c5d4'), 'item': 'paper', 'qty': 100, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'D'}

### pymongo.collection.Collection.replace_one()

In [48]:
inventory.replace_one(
    {"item": "paper"}, #replace this
    {"item": "paper", #with this
     "instock": [
         {"warehouse": "A", "qty": 60},
         {"warehouse": "B", "qty": 40}]})

In [49]:
## Select * from inventory where item='paper'
for record in inventory.find({'item':"paper"}):
    print(record)

{'_id': ObjectId('5f6312b57327ebd72651c5d4'), 'item': 'paper', 'instock': [{'warehouse': 'A', 'qty': 60}, {'warehouse': 'B', 'qty': 40}]}

## Aggregate and Group Functions

In [60]:
# Access database  
mydatabase = client['Students']  
    
# Access collection of the database  
collection=mydatabase['studentscores']  
data = [ 
    {"user":"Subham", "subject":"Database", "score":80}, 
    {"user":"Mudit",  "subject":"JavaScript", "score":90}, 
    {"user":"Mudit",  "title":"Database", "score":85}, 
    {"user":"Subham",  "title":"JavaScript", "score":75}, 
    {"user":"Mudit",  "title":"Data Science", "score":60},
    {"user":"Subham",  "title":"Data Science", "score":95}] 
  
collection.insert_many(data)

In [61]:
#  List all databases
for db in client.list_databases():
    print(db)

{'name': 'Employee', 'sizeOnDisk': 73728.0, 'empty': False}
{'name': 'Movie', 'sizeOnDisk': 40960.0, 'empty': False}
{'name': 'Stationery', 'sizeOnDisk': 57344.0, 'empty': False}
{'name': 'Students', 'sizeOnDisk': 8192.0, 'empty': False}
{'name': 'admin', 'sizeOnDisk': 40960.0, 'empty': False}
{'name': 'config', 'sizeOnDisk': 110592.0, 'empty': False}
{'name': 'local', 'sizeOnDisk': 40960.0, 'empty': False}

In [62]:
## Select * from moviedetails
for record in collection.find({}):
    print(record)

{'_id': ObjectId('5f631b377327ebd72651c5e5'), 'user': 'Subham', 'subject': 'Database', 'score': 80}
{'_id': ObjectId('5f631b377327ebd72651c5e6'), 'user': 'Mudit', 'subject': 'JavaScript', 'score': 90}
{'_id': ObjectId('5f631b377327ebd72651c5e7'), 'user': 'Mudit', 'title': 'Database', 'score': 85}
{'_id': ObjectId('5f631b377327ebd72651c5e8'), 'user': 'Subham', 'title': 'JavaScript', 'score': 75}
{'_id': ObjectId('5f631b377327ebd72651c5e9'), 'user': 'Mudit', 'title': 'Data Science', 'score': 60}
{'_id': ObjectId('5f631b377327ebd72651c5ea'), 'user': 'Subham', 'title': 'Data Science', 'score': 95}

In [73]:
### Find user count
agg_result= collection.aggregate( 
    [{ 
    "$group" :  
        {"_id" : "$user",  #group by user
         "Total Subject" : {"$sum" : 1} #sum=sum+1
         }} 
    ])

for i in agg_result: 
    print(i)

{'_id': 'Subham', 'Total Subject': 3}
{'_id': 'Mudit', 'Total Subject': 3}

In [74]:
### Calculating the total score based on user
agg_result= collection.aggregate( 
    [{ 
    "$group" :  
        {"_id" : "$user",  #group by user
         "Total Marks" : {"$sum" :"$score"} #sum=sum+score
         }} 
    ]) 
for i in agg_result: 
    print(i)

{'_id': 'Subham', 'Total Marks': 250}
{'_id': 'Mudit', 'Total Marks': 235}

In [75]:
### Calculating the average score based on user
agg_result=collection.aggregate([
   {
    "$group": 
       {"_id": '$user',  #group by user
         "StudentScoreAverage": {"$avg": "$score"}
       }
   }
])
for i in agg_result: 
    print(i)

{'_id': 'Subham', 'StudentScoreAverage': 83.33333333333333}
{'_id': 'Mudit', 'StudentScoreAverage': 78.33333333333333}

In [76]:
import datetime as datetime
# Create a new collection
mycollection=mydatabase['stores']  

data=[{ "_id" : 1, "item" : "abc", "price" : 10, "quantity" : 2, "date" : datetime.datetime.utcnow()},
{ "_id" : 2, "item" : "jkl", "price" : 20, "quantity" : 1, "date" : datetime.datetime.utcnow() },
{ "_id" : 3, "item" : "xyz", "price" : 5, "quantity" : 5, "date" : datetime.datetime.utcnow() },
{ "_id" : 4, "item" : "abc", "price" : 10, "quantity" : 10, "date" : datetime.datetime.utcnow() },
{ "_id" : 5, "item" : "xyz", "price" : 5, "quantity" : 10, "date" :datetime.datetime.utcnow() }]
mycollection.insert_many(data)

In [77]:
### Calculating the average quantity And Average Price
agg_result=mycollection.aggregate([
   {
      "$group": {
         "_id": '$item',
         "avgAmount": {"$avg": {"$multiply": [ "$price", "$quantity" ]}}, #Average Price
          "avgQuantity": { "$avg": "$quantity" }  #Average Quantity
      }
   }
])
for i in agg_result: 
    print(i)

{'_id': 'abc', 'avgAmount': 60.0, 'avgQuantity': 6.0}
{'_id': 'xyz', 'avgAmount': 37.5, 'avgQuantity': 7.5}
{'_id': 'jkl', 'avgAmount': 20.0, 'avgQuantity': 1.0}

### $Project operation

In [79]:
# Access collection of the database  
collection=mydatabase['Books']
data=[{
  "_id" : 1,
  "title": "abc123",
  "isbn": "0001122223334",
  "author": { "last": "zzz", "first": "aaa" },
  "copies": 5
},
{
  "_id" : 2,
  "title": "Baked Goods",
  "isbn": "9999999999999",
  "author": { "last": "xyz", "first": "abc", "middle": "" },
  "copies": 2
}
]
collection.insert_many(data)

In [86]:
# Select title,isbn from Books(collection)
for row in collection.aggregate( [ { "$project": { "title": 1,"isbn":1 } } ] ):
    print(row)

{'_id': 1, 'title': 'abc123', 'isbn': '0001122223334'}
{'_id': 2, 'title': 'Baked Goods', 'isbn': '9999999999999'}

In [87]:
# Hide or exclude title and isbn fields and show other fields
for row in collection.aggregate( [ { "$project": { "title": 0,"isbn":0 } } ] ):
    print(row)

{'_id': 1, 'author': {'last': 'zzz', 'first': 'aaa'}, 'copies': 5}
{'_id': 2, 'author': {'last': 'xyz', 'first': 'abc', 'middle': ''}, 'copies': 2}